<div *ngIf="!chosen">
  <form [formGroup]="formChoose">
    <mat-grid-list cols="5" rowHeight="2:1">
      <mat-radio-group formControlName="option">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <mat-radio-button value="rock">Rock</mat-radio-button>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-radio-button value="paper">Paper</mat-radio-button>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-radio-button value="scissors">Scissors</mat-radio-button>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
      </mat-radio-group>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="4:1">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <button mat-button style="background-color: purple; color: white" (click)="getOpponent()">Make your move!</button>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
<div *ngIf="chosen">
  <mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <h3>First Player</h3>
    </mat-grid-tile>
    <mat-grid-tile>
      <h3>Second Player</h3>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="6:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <h3>{{yourChoice | uppercase}}</h3>
    </mat-grid-tile>
    <mat-grid-tile>
      <h3>{{opponentChoice | uppercase}}</h3>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="4:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <h2>{{resultMessage}}</h2>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="4:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <button mat-button style="background-color: purple; color: white" (click)="reset()">Play again!</button>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</div>


